.container {
  display: flex;
  justify-content: center;
 margin-bottom: 8em;
  width: 100%;
  height: 100%;
}
.containerProjects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 90%;
  
}
.text {
  font-size: 2.5em;
  color: var(--white);
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
  border-bottom: solid 2px var(--pink);
}
.buttonContainer {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  @media(max-width: 780px){
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
}
.buttonCard {
  display: flex;
  justify-content: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 16em;
  @media(max-width: 780px){
    height: auto;
  }
  button{
    overflow: hidden;
    object-fit: cover;
    border-radius: 16px;
  }
}

.imgCard {
}

.cover {
    bottom: -1%;
    background-color: var(--grey-700);
    width: 100%;
    height: 5em;
  position: absolute;
  z-index: 1;
  padding: 0.5em;
  display: flex;
  border-top: solid 2px var(--pink);
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
}
.cover.visible {
  animation: fadeIn 0.8s ease;
  
}
.miniIcons {
  flex-direction: row;
  display: flex;
  width: 100%;
  
  button{
    position: absolute;
    right: 0;
  }
 
}
.projectTitle {
  text-align: center;
  transition: all 0.3s ease-in-out;
  position: absolute;

}

.projectTitle.visible {
  z-index: 3;
  width:90%;
}

@keyframes fadeIn {
  0% {
    bottom: -50%;
  }
  100% {
    bottom: -1%;
  }
}

@media (max-width: 1280px){
  .miniIcons{
    width: 10em;
  }
}
@media (max-width: 780px){
 .buttonCard{
  flex-direction: column;
  button{
    width: 100%;
  }
 }
}