.containerMain {
  width: 100%;
  padding: 10%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.intro {
  display: flex;
  flex-direction: column;

  .text {
    display: flex;
    text-align: center;
    align-items: center; // Adicione esta linha
  }

  h2 {
    font-size: 48px;
    color: var(--white);
    font-family: "inter";
    font-weight: lighter;
  }

  h1 {
    color: var(--pink);
    margin-left: 8px;
    font-size: 48px;
    font-weight: 400;
  }

  p {
    font-size: 24px;
    color: var(--grey);
    font-weight: 400;
  }

  span {
    font-size: 36px;
    color: #B292FF;
    margin-right: 4px;
    font-weight: 400;
    display: inline-flex; // Adicione esta linha
    align-items: center; // Adicione esta linha
  }
}

.containerItems {
  width: 40%;
  height: 100%;
}
.image {
  width: 30%;
  margin-left: 8%;
  height: auto;
}
.imgMain {
  width: 100%;
  height: 100%;
}
.buttonContainer {
  margin-top: 2em;
  display: flex;
  
  .xpButton {
    text-align: center;
    margin-left: 4em;
    border: none;
    font-size: 18px;
    background: none;
    color: #B292FF;
    font-family: "Nunito";
    transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden;
    padding: 10px 20px; 
    border-radius: 8px;
  }

  .xpButton:hover {
    color: #fff; 
    box-shadow: 0 0 10px rgba(178, 146, 255, 0.8), 
                0 0 20px rgba(178, 146, 255, 0.6), 
                0 0 30px rgba(178, 146, 255, 0.4); 
    transform: scale(1.05); 
    text-shadow: 0 0 5px rgba(178, 146, 255, 0.8), 
                 0 0 10px rgba(178, 146, 255, 0.5);
  }
}

@media (max-width: 1100px) {
  .containerMain {
    flex-direction: column;
    margin: 0;
  }
  .image {
    width: 50%;
    margin:10% 0;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .imgMain {
    width: 30vh;
    height: 30vh;
  }
  .containerItems {
    text-align: center;
    width: 80%;
  }
  .intro {
    h2 {
      font-size: 5vh;
      color: var(--white);
    }
    h1 {
      color: var(--pink);
      font-size: 3em;
    }
    p {
      font-size: 24px;
      color: var(--grey);
    }
  }
}
@media (max-width: 780px) {
  .containerMain{
    padding: 0;
    margin-top: 8em;
    h1{
      font-size: 24px;
    }
    h2{
      font-size: 24px;
    }
  }
  .intro{
    p {
      font-size: 18px;
      color: var(--grey);
    text-align: left;

    }
    span{

      font-size: 24px;
    }
  }
  .buttonContainer{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .xpButton{
      margin: 2em 0;
    }
  }
  .image {
    width: 50%;
    height: 100%;
  }
}
