.container {
    display: flex;
    justify-content: center;
    height: 36em;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 16%; 
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.05); 
    border-radius: 100%; 
    transform: translateY(-50%);
    filter: blur(124px); 

    pointer-events: none;
}
.xpStacks{
    display: flex;
    flex-direction: row;
    border-radius: 0.5vh;
}
.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.image {
    margin-left: 50%;
}

.stacksContainer {
    width: 60%; 
    height: 100%; 
    overflow-x: auto;
    overflow-y: hidden; 
    display: flex;
    scrollbar-width: none;
    border-radius: 2em;
    transition: scroll 2s ease-in-out;
    &::-webkit-scrollbar {
        display: none; 
    }
}

.stacks {
    display: flex;
    flex-direction: row;
    align-items: center;
    scrollbar-width: none;
    transition: scroll 2s ease-in-out;
    &::-webkit-scrollbar {
        display: none; 
    }
}

.stackItem {
    width: 20em; 
    height: 12em;
    padding: 0 0 0px 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius:  60px;
    margin-right: 2em;
    flex: 0 0 auto; 
    span{
        font-family: roleway;
        font-size: 26px;
        font-weight: 700;
        color: #272727;
    }
    .icon svg{
        width: 36px;
        height: 48px;
    }
}
.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
  
    button {
      width: 24px;
      height: 16px; 
      border-radius: 8px;
      border: none;
      background-color: #606060;
      margin: 0 0.5em;
      cursor: pointer;
      animation: buttonShrink 1.8s ease forwards; 
    }
  
    .activeButton {
      width: 64px;
      background-color: #D9D9D9;
      animation: buttonExpand 0.4s ease forwards; 
    }
  }
  
  @keyframes buttonExpand {
    0% {
      width: 24px;
      background-color: #606060;
    }
    100% {
      width: 64px;
      background-color: #D9D9D9; 
    }
  }
  
  @keyframes buttonShrink {
    0% {
      width: 64px;
      background-color: #D9D9D9; 
    }
    100% {
      width: 24px;
      background-color: #606060; 
    }
  }
@media (max-width: 1280px) {
    .container {
        height: 100%;
    }
    .xpStacks{
      flex-direction: column;
    }
    .stacksContainer{
      width: 100%;
      padding: 2em;
    }
    .cardContainer {
        width: 30%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;        
    }
    .image {
        width: 90%;
        height: 70%;
    }
    .buttonsItems {
        justify-content: center;
    }
}
@media (max-width: 480px) {
  .stackItem{
    width: 15em;
    height: 10em;
    border-radius: 16px;
  }
}