.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    overflow: hidden;
}
.cardContainer{
    display: flex;
    flex-direction: row;
    border-radius: 0.5vh;
    width: 80rem;
   border: solid 2px var(--grey-700);
    background-color: var(--grey-900);
    box-shadow:  1px 1px 1px 1px var(--grey-700); 
}
.image{
    width: 60%;
    height: 100%;
}
.imgText{
    width: 100%;
    height: 100%;
}
.aboutContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 4vh;
   
}
.textInitial{
    font-size: 2rem;
    color: var(--pink);
    margin-bottom: 2vh;
}
.name{
    font-size: 4rem;
    color: var(--white);
}
.developer{
    font-size: 2.5rem;
    color: var(--grey);
    margin-bottom: 3vh;
}
.text{
    font-size: 1.4rem;
    color: var(--white);
}
.buttonsItems{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

@media (max-width: 1280px){
    .container{
        height: 100%;
    }
    .cardContainer{
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }
    .image{
        width: 90%;
        height: 70%;
    }
    .buttonsItems{
        justify-content: center;
    }
    

}
