@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0; 
  }
  100% {
    transform: translateY(0); 
    opacity: 1; 
}
}
.container {
  width: 30%;
  height: 6em;
  z-index: 5;
  top: 8px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: none;
  animation: slideDown 0.5s ease forwards; 
}
.navbar {
  display: flex;
  width: 85%;
  height: 2.5em;
  background-color: #212121;
  border-radius: 16px;
  justify-content: space-around;
  align-items: center;
}
.logoImg {
  max-width: 120px;
  max-height: 80px;
  width: auto;
  height: auto;
  z-index: 1;
}

.items {
  display: flex;
  flex-direction: row;
  color: var(--grey);
}
.items li {
  list-style-type: none;
  margin-left: 16px;
  background-repeat: no-repeat;
  background-size: 0 3px;
  background-position: left bottom;
  transition: background-size 500ms ease, color 300ms ease, text-shadow 300ms ease;
  border-radius: 2vh;
  font-size: 1.2em;
  display: flex;
  align-items: center; 
}

.li:hover {
  color: var(--white);
  background-size: 100% 3px;
  text-shadow: 0 0 8px #9D4AE6; 
}

.li a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.li a:hover {
  color: var(--white);
}

.li a svg {
  margin-right: 8px; 
  transition: color 300ms ease, text-shadow 300ms ease;
}

.li:hover svg {
  color: var(--white);
  text-shadow: 0 0 16px #9D4AE6;
}
.hamburgerButton {
  display: none;
}
@media (max-width: 1280px) {
  .logoImg {
    max-width: 100px;
    max-height: 80px;
    width: auto;
    height: auto;
  }
  .navbar {
    margin: 0;
  }

  .items li {
    margin: 0 1vh 0 1.85vh;
  }
}
@media (max-width: 760px) {
  .navOpen {
    height: 120vh;
    background-color: var(--grey);
    justify-content: center;
    transition: all .5s ease;
  }
  .hamburgerButton {
    display: block;
    background: none;
    border: none;
    z-index: 1;
    position: absolute;
    right: 15px;
    top: 15px;

    svg {
      color: var(--pink);
      width: 2em;
      height: 2em;
    }
  }
  .navbar {
    margin: 0;
  }

  .logoImg {
    position: absolute;
    left: 10px;
    top: 15px;
  }
  .items {
    display: none;
  }

  .showMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    position: absolute;
    height: 120vh;
    width: 100%;
    background: var(--background-card);
   

    ul {
      height: 100%;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .items li {
    font-size: 2.5em;
    margin: 0.8em 0;
  }
}
