.button{
    width: 30%;
    height: 20em;
    display: flex;
    font-size: 2vh;  
    flex-direction: column;
    background-color: var(--background-color);
    border:  none;
    margin: 2vh;
    transition: all .8s ease;
    position: relative;
    a{
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        z-index: 1;
        color: var(--white);

        svg{
            color: var(--pink);
            display: flex;
            flex-direction: row;
            width: 1em;
            margin-right: .3em;
        }
        button{
        
            width: 5em;
            height: 3vh;
            background: none;
            color: var(--white);
            border: solid 2px var(--pink);
            border-radius: 1vh;
            animation: colorOn 2s ease forwards;
        }
    }
    

}
@keyframes colorOn{
    50%{
        background: none;
    }
    
    100%{
        background: var(--pink);
        width: 5.4em;
        height: 3.4vh;
    }
}


