.modalContainer {
  width: 100%;

  .modalItem {
    display: flex;
    flex-direction: row;
    z-index: 99;

    .image {
      width: 50%;
      height: 32em;
      overflow-y: scroll; 
      img {
        width: 100%; 
        height: auto; 
        object-fit: contain; 
      }
    }

    
    .modalDescription {
      width: 40%;
      height: 100%;
      margin-left: 16px;
      display: flex;
      text-align: left;
      flex-direction: column;
      padding-top: 4em;
      .name {
        width: 60%;
        display: flex;
        border-bottom: solid 2px var(--pink);
        margin-bottom: 2em;
        text-align: center;
        span{
          font-size: 28px;
        }
      }
      span {
        font-size: 18px;
        color: var(--white);
      }

     button{
      margin-top: 24px;
     }
    }

    .modalInformation {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 2%;
      flex-wrap: wrap;
      justify-content: center;
    }

    span {
      font-family: sans-serif;
      font-weight: 400;
      font-size: 1.3em;
      color: var(--white);
    }
  }
}

.buttons {
  display: flex;
  justify-content: right;
  width: 100%;

  .button {
    background: none;
    border: none;
    color: var(--white);

    svg {
      width: 2em;
      height: 2em;
      color: var(--pink);
    }
  }
}

@media (max-width: 1024px) {
  .modalContainer {
    width: 100%;
    .modalItem{
    flex-direction: column;

    .modalDescription {
      width: 95%;
      padding:1em 0;
    }
    .image{
      width: 100%;
      height:16em;
    }
    }
  }
}

@media (max-width: 480px) {
  .modalContainer {
    .modalItem{

      .modalDescription {
        button{
          margin: 0;
        }
        .name{
          span{
            font-size: 14px;
          }
        }
        span{
          font-size: 12px;
        }
      }
        .image {
          min-width: 100%;
          max-height: 10em;
        }
        
        .modalInformation {
          height: 50%;
          gap: 40px;
          padding: 0;
        }
        
      .iconsContainer {
        .icon {
          display: flex;

          svg {
            width: 1em;
            height: 1em;
            margin: 1em 0.5em;
          }
        }
      }
    }

    .iconsContainer {
      svg {
        width: 1.5em;
        height: 1.5em;
      }
    }
  }
}
