.modalContainer {
  width: 100%;
  height: 80%;
  overflow: auto;
  .modalItem {
    display: flex;
    flex-direction: column;

    .name {
      width: 100%;
      display: flex;
      justify-content: center;
      span {
        font-size: 2em;
        color: var(--white);
      }
    }
    .modalDescription {
      width: 100%;
      height: 65vh;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .image {
        width: 80%;
        height: 60%;
        img {
          width: 100%;
          height: 100%;
          max-width: auto;
          max-height: auto;
        }
      }
      .modalInformation {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 3%;
        flex-wrap: wrap;
        .iconsContainer {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          .icon {
            width: 100%;
            height: 100%;
            svg {
              width: 3em;
              height: 100%;
              margin: 0 .5em;
              color: var(--pink);
            }
          }
        }
      }
      span {
        font-family: sans-serif;
        font-weight: 800;
        font-size: 1.5em;
        color: var(--white);
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .button{
    background: none;
    border: none;
    svg{
      width: 2em;
      height: 2em;
      color: var(--pink);

    }
  }
}

@media (max-width: 1024px) {
  .modalContainer {
    width: 100%;
    .modalDescription {
      font-size: 70%;
    }
  }
}

@media (max-width: 480px) {
  .modalContainer {
    .modalInformation {
      height: 50%;
      gap: 40px;
      .image{
        height: 15em;
      }
      .iconsContainer {
        .icon {
          display: flex;
          flex-wrap: wrap;
          gap: 3px;
          svg {
            margin: 1em .5em;
          }
        }
      }
    }
  }
}
