.modalContainer {
  width: 100%;
  height: 80%;
  overflow: auto;
  .modalItem {
    display: flex;
    flex-direction: column;

    .name {
      width: 100%;
      display: flex;
      justify-content: center;
      span {
        font-size: 1.5em;
        color: var(--white);
      }
    }
    .modalDescription {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .image {
        width: 80%;
        height: 45vh;
        img {
          width: 100%;
          height: 100%;
          max-width: auto;
          max-height: auto;
        }
      }
      .modalInformation {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2%;
        flex-wrap: wrap;
        justify-content: center;
        .iconsContainer {
          width: 100%;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 10px;
          .icon {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            svg {
              width: 2em;
              height: 100%;
              margin: 0 .3em;
              color: var(--pink);
            }
          }
        }
      }
      span {
        font-family: sans-serif;
        font-weight: 400;
        font-size: 1.3em;
        color: var(--white);
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .button{
    background: none;
    border: none;
    svg{
      width: 2em;
      height: 2em;
      color: var(--pink);

    }
  }
}

@media (max-width: 1024px) {
  .modalContainer {
    width: 100%;
    .modalDescription {
      font-size: 70%;
    }
  }
}

@media (max-width: 480px) {
  .modalContainer {
    .modalDescription{
      .image{
        min-width: 100%;
        max-height: 20em;
      }
    .modalInformation {
      height: 50%;
      gap: 40px;

    }
      .iconsContainer {
        .icon {
          display: flex;
      
          svg {
            width: 1em;
            height: 1em;
            margin: 1em .5em;
          }
        }
      }
    }
    .iconsContainer{
      svg{
        width: 1.5em;
        height: 1.5em;
      }
    }
  }
}
