.button{
    width: 8em;
    height: 8em;
    background-color: var(--background-card);
    border: 1px solid var(--grey);
    border-radius: 1vh;
    flex-wrap: wrap;
    gap: 24px;
    margin: 1em;
    transition: all .5s ease;

    svg{
        width: 80%;
        height: 80%;
    }
    color: var(--grey--700);
    a{
       font-size: 3em;
        color: var(--pink);
    }
  
}
.button:hover{
    color: var(--pink);
    border: 1px solid var(--pink);
}