.expContainer {
    width: 100%;
    margin-top: 8em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
        font-size: 36px;
        color: #8C52FF; /* Tom mais forte e vibrante */
        margin-bottom: 2em;
    }

    @media (max-width: 768px) {
        padding: 1em;
        margin-top: 4em;

        h2 {
            font-size: 28px;
        }
    }
}

.cards {
    width: 40%;
    justify-content: center;
    text-align: left;
    margin-bottom: 20px;

    h3 {
        font-size: 24px;
        font-weight: 300;
        color: #FFFFFF; /* Branco para maior contraste */
        margin-bottom: 16px;
        display: flex;
        align-items: center;

        button {
            width: 48px;
            height: 48px;
            border-radius: 100%;
            border: none;
            margin-right: 16px;
            font-weight: 400;
            font-size: 24px;
            transition: transform 0.3s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #8C52FF; /* Botão com destaque */
            color: white; /* Texto branco no botão */
        }

        .rotate {
            transform: rotate(360deg);
        }
    }

    .description {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
        opacity: 0;
    }

    &.expanded .description {
        max-height: 1000px;
        opacity: 1;
    }

    p {
        font-size: 18px;
        color: #CCCCCC; /* Texto mais suave, mas ainda legível */
        margin-left: 66px;
    }

    @media (max-width: 768px) {
        width: 80%;

        h3 {
            font-size: 20px;

            button {
                width: 40px;
                height: 40px;
                font-size: 20px;
            }
        }

        p {
            font-size: 16px;
            margin-left: 50px;
        }
    }

    @media (max-width: 480px) {
        width: 100%;

        h3 {
            font-size: 14px;
            flex-direction: row-reverse;

            button {
                width: 36px;
                height: 36px;
                font-size: 18px;
                margin-left: 16px;
            }
        }

        p {
            font-size: 14px;
            margin-left: 40px;
        }
    }
}
