.button{
    width: 30%;
    height: 13em;
    display: flex;
    align-items: center;
    font-size: 2vh;  
    flex-direction: column;
    background-color: var(--background-color);
    border:  none;
    margin: 2vh;
    transition: all .8s ease;
    position: relative;
    a{
        display: flex;
        flex-direction: column;
        font-size: 2em;
        z-index: 1;
        color: var(--white);

        svg{
            color: var(--pink);
            display: flex;
            flex-direction: row;
            width: .5em;
            margin-right: .3em;
        }
    }
    

}


